.primary {
  padding-left: 50px;
  width: 600px;
  margin: 0 auto;
}
.header {
  margin-left: 50px;
  color: rgb(118, 118, 118);
}
.alert {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.error {
  background-color: #ffcccc;
  color: #ff0000;
}

.success {
  background-color: #ccffcc;
  color: #00cc00;
}
